---
import Button from "./button.astro";
---

<div class="container py-20">
    <div class="text-center balance mb-12">
        <h1 class="text-4xl font-bold">We will be loved by your clients</h1>
        <p class="text-lg mt-8">
            We know that getting tax information ready to submit is not fun for clients. <span class="text-blue font-bold">e-Phorm</span> makes it simple
            and enjoyable for clients. With just a few clicks, clients can complete their tax preparation anywhere and anytime. There’s no need to dread
            tax prep. All you have to do is smile!
        </p>
        <div class="flex justify-center mt-4">
            <Button class="text-sm">How it works?</Button>
        </div>
    </div>
</div>
