---

---

<div class="container2 container py-20">
    <h1 class="text-5xl font-bold mb-4 text-center">
        <span class="text-blue font-bold">e-Phorm</span> is easy-to-use
    </h1>
    <p class="text-center balance text-lg max-w-[750px] mx-auto">
        <span class="text-blue font-bold">e-Phorm</span> is an easy-to-use collaboration platform that allows clients & professionals frictionless
        exchange of documents. When clients upload their documents, they are kept up to date with
        <span class="text-blue font-semibold">the progress of the service</span>. Professionals can organize all their client paperwork in one place.
        Eliminate e-mail chaos during busy season.
    </p>
</div>
