---
import Navbar from "./Navbar.astro";
import Button from "./button.astro";
---

<div class="container1 relative">
    <!-- squares -->
    <div class="square absolute inset-0 z-0">
        <div class="h-full bg-gradient-to-b from-white/70 from-[30%] to-transparent"></div>
    </div>

    <div class="relative flex flex-col justify-center items-center min-h-[680px]">
        <Navbar />
        <h1 class="text-6xl font-bold mb-4">Organization and Peace of Mind</h1>
        <p class="text-lg mb-8">The streamlined portal between clients and professionals. With both security and functionality.</p>
        <Button class="text-sm">Book a demo</Button>
    </div>
</div>
